@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
    .spanus{
        font-family: 'Ganttlets' !important;
        font-weight: 400;
        line-height: 107.54px;
        text-align: left;
        color: #fff;
    }
    .Forget-Hotelsjson-two{
        font-family: 'Gellix600';
        font-weight: 600;
        line-height: 41.6px;
        text-align: left;
        color: white;
    }
    .partner-real{
        font-family: 'Gellix600';
        font-weight: 600;
        line-height: 27.49px;
        text-align: left;
        color: #fff;
        opacity: 0.7;
    }
    .guest-support{
        font-family: 'Gellix500';
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        text-align: left;
        color: #000;
        background-color: #D1FAE5;
        border-radius: 76px;
        line-height: 150%;
    }
    .backgorundiamges{
        background-image: url(./images/Rectangle\ 42.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: auto;
        height: auto;
        position: absolute;
        right: 0;
        z-index: -1;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
    }
}