@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .Forget-Hotelsjson{
        font-family: 'Gellix700';
        font-weight: 700;
        text-align: left;
        color: #fff;
    }
    .We-bring-the-one{
        font-family: 'Gellix700';
        font-size: 50.52px;
        font-weight: 700;
        text-align: left;
        color: #fff;
    }
    .Forget-Hotelsjson-one{
        color: #fff;
        font-family: 'Gellix600';
        font-weight: 600;
        text-align: center;
    }
    .maptitle{
        font-family: 'Gellix600';
        font-weight: 600;
        line-height: 40.17px;
        text-align: left;
    }
    .mapname{
        font-family: 'Gellix600';
        font-size: 21.33px;
        font-weight: 600;
        text-align: left;
    }
}