@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
    .about_span{
        color: #D1FAE5;
        font-family: 'Gellix400';
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    /* .about-span::before{
        content:" ";
        display: block;
        height: 2px;
        width: 130px;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(255, 255, 255);
    } */
}